# Ignore all changes to files and folders
# in the "old" and "old.complete" folder 
# and in the "node_modules" folder and also 
# ignores all changes to the .eslintrc.json 
# and .eslintignore files
old/
old.complete
node_modules/
.eslintrc.json
.eslintignore
.prettierrc
.prettierignore