#game {
    position: absolute;
    margin: 0;
    padding: 0;
}

#game-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#exit-btn {
    position: absolute;
    display: block;
    padding: 10px 0px 0px 10px;
    font-size: 18px;
}

#exit-btn:hover {
    cursor: pointer;
    color: #2795fc;
    opacity: 0.8;
}

#game-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto 0px auto;
    padding: 25px 25px;
    max-width: 450px;
    height: auto;
}

#game-text {
    margin: 0 auto;
    height: auto;
}

#options {
    margin: 15px auto;
}

.option {
    color: #fff;
    background: #2795fc;
    border: 0;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 5px;
}

.option:hover {
    cursor: pointer;
    opacity: .8;
}