#game-container {
    width: 640px;
    height: 480px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
}

#game-top {
    position: relative;
    display: flex;
    margin: 10px 0px;
}

#exit-btn {
    position: relative;
    display: flex;
    padding: 10px 10px;
    font-size: 18px;
}

#restart-btn:hover, 
#exit-btn:hover {
    cursor: pointer;
    color: #2795fc;
    opacity: 0.8;
}

#restart-btn {
    position: relative;
    display: flex;
    padding: 10px 15px;
    font-size: 18px;
}

#game-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#game-content {
    position: relative;
    padding: 50px 20px 20px 20px;
    margin: 10px;
    background: #252525;
    border-radius: 8px;
}

#game-header {
    padding: 0px 25px;
}

#game-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px;
    padding: 10px 20px 25px 20px;
    max-width: 560px;
    height: auto;
}

#game-text {
    margin: 0 auto;
    height: auto;
    text-transform: uppercase;
}

#options {
    text-align: center;
    margin: 10px 5px;
}

.option {
    color: #fff;
    background: #2795fc;
    border: 0;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 5px;
}

.option:hover {
    cursor: pointer;
    opacity: .8;
}