@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0; /*444242*/ /* 282828 */
    background: #181818 /*302f2f*/;
    color: #fff;
    overflow-x: hidden;
    -webkit-touch-callout: none !important;
}

#wrapper {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layer {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

#login-container {
    position: relative;
    display: flex;
    background-color: #252525; /*4b4a4a*/
    max-width: 380px;
    max-height: 100%;
    height: auto;
    border-radius: 15px;
}

#login {
    padding: 10px 20px 10px 20px;
}

#login .login-span {
    font-size: 1.25rem;
    display: flex;
    width: 100%;
    height: auto;
    margin: 15px 0px 12px 0px;
}

#login input[type='text'],
input[type='password'] {
    width: 100%;
    height: auto;
    min-height: 40px;
    padding: 0px 10px;
    margin: 0;
    border: none;
    border-radius: 8px;
    outline: none;
}

#bottom {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 20px;
    margin: 15px 0px 5px 0px;
    width: auto;
    min-height: 30px;
}

#show-pswrd-btn-container {
    display: flex;
    flex-grow: 1;
    margin: 4px 0px 4px 0px;
    width: auto;
    height: 30px;
}

#login-btn-container {
    display: flex;
    flex-grow: 1;
    margin: 4px 0px 4px 0px;
    width: auto;
    height: 30px;
}

#login-btn-container #login-btn {
    position: relative;
    color: #fff;
    background-color: #2795fc;
    border: none;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    align-items: center;
}

#login-btn:hover {
    cursor: pointer;
}

#message-container {
    position: relative;
    display: block;
    max-height: 40px;
    height: auto;
    padding: 10px 20px;
}

#message {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    font-size: 1.1rem;
    height: auto;
    margin: 0;
}

.success {
    color: rgb(8, 255, 8);
}

.error {
    font-weight: 700;
    color: rgb(255, 0, 8);
}
