#startScreen {
    position: absolute;
    margin: 0;
    padding: 0;
}

#game-title {
    position: relative;
    display: block;
    margin: 40px auto 15px auto;
    text-align: center;
    font-size: 4rem;
}

#game-by {
    position: relative;
    display: block;
    text-align: center;
    font-size: 1.6rem;
}

#welcome {
    position: relative;
    display: block;
    text-align: center;
    font-size: 1.2rem;
}

#game-options {
    display: flex;
    flex-direction: column;
}

.game-option {
    position: relative;
    display: block;
    font-size: 1.7rem;
    margin: 8px auto;
}

.game-option:hover {
    cursor: pointer;
    opacity: 0.7;
    color: #2795fc;
}

/* #startScreen {
    position: absolute;
}

#game-options {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#game-title {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 40px 10px 10px 10px;
    font-size: 2rem;
}

#game-by {
    position: relative;
    display: flex;
    justify-content: center;
}

#welcome {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.game-option {
    display: block;
}

.game-option:hover {
    color: violet;
    cursor: pointer;
} */
