#startScreenHeader {
    max-width: 400px;   
    display: block;
    text-align: center;
    margin: 40px auto 15px auto;
}

#game-title {
    position: relative;
    display: block;
    text-align: center;
    font-size: 3rem;
    /* font-size:calc(2rem + 1.5vw); */
}

#game-by {
    position: relative;
    display: block;
    text-align: center;
    font-size: 1.6rem;
}

#welcome {
    position: relative;
    display: block;
    text-align: center;
    font-size: 1.2rem;
}

#game-options {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
}

.game-option {
    position: relative;
    display: block;
    font-size: 1.7rem;
    margin: 8px auto;
}

.game-option:hover {
    cursor: pointer;
    opacity: 0.7;
    color: #2795fc;
}