/* Game Starting Menu Screen */

.game-title {
    position: absolute;

    top: 5%;
    right: 5%;
    text-align: right;
    width: 100%;

    font-family: "Courier New", Courier, monospace;
    font-size: 90px;
    line-height: 80px;

    color: white;
    text-shadow: -2px 0 purple, 0 2px purple, 2px 0 purple, 0 -2px purple;
}

.game-option {
    position: relative;
    top: 65%;
    left: 10%;
    display: block;

    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
    color: white;
    text-shadow: -2px 0 purple, 0 2px purple, 2px 0 purple, 0 -2px purple;

    cursor: pointer;
}

.game-option:hover {
    color: yellow;
}